<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="mentalis" type="Org.Mentalis.Proxy.MentalisSection, SocksProxy, Version=1.0.0.8234, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>  <mentalis>
    <listeners>
      <clear />
      <listener type="Org.Mentalis.Proxy.Ftp.FtpListener, SocksProxy, Version=1.0.0.18355, Culture=neutral, PublicKeyToken=null"
        params="host:0.0.0.0;int:12345" id="e8350b0a-693d-4cfc-9e52-fd87735aa29a" />
    </listeners>
    <users>
      <user name="ivan" hash="123" />
      <user name="petr" hash="12354" />
    </users>
  </mentalis>

</configuration>
