<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="mentalis" type="Org.Mentalis.Proxy.MentalisSection, SocksProxy, Version=1.0.0.8234, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>  
  <mentalis>
    <listeners/>
    <users/>
  </mentalis>

</configuration>
